.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .typing-word {
    font-weight: bold;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    width: 12ch; 
    animation: typing 8s steps(48) infinite, blink 5s step-end infinite alternate;
  }
  
  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 40ch;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes blink {
    from {
      border-color: transparent;
    }
    to {
      border-color: rgba(0, 0, 0, 0.75);
    }
  }
  