body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





/* @font-face {
  font-family: 'Helvetica Now Bold';
  src: url('./fonts/HelveticaNowBold.woff2') format('woff2'),
       url('./fonts/HelveticaNowBold.woff') format('woff'),
       url('./fonts/HelveticaNowBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
